html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.popup-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.popup-info {
    font-size: 14px;
}

.location-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
}

.location-button i {
    color: #555555;
    font-size: 20px;
}
